input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
h1 {
  font-family: "Franklin Gothic Heavy";
  margin-bottom: 50px;
  text-align: center;
}
.counters {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.input {
  /* border: 2px solid teal; */
  font-size: 20px;
  /* height: 40px; */
  width: 70px;
  /* padding-left: 5px;
  text-align: center;
  text-decoration: none; */
  border: none;
  text-align: center;
}
.increment {
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(196, 1, 1);
  font-size: 20px;
  background-repeat: 20px;
  color: azure;
}
.increment:hover {
  background-color: rgb(220, 81, 21);
  border-radius: 100%;
  transition: 0.5s;
}
.decrement {
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  background-color: rgb(28, 0, 138);
  font-size: 20px;
  background-repeat: 20px;
  color: azure;
}
.decrement:hover {
  background-color: rgb(35, 130, 237);
  transition: 0.5s;
  border-radius: 100%;
}
.btn {
  width: 100px;
  height: 40px;
  border: 2px solid white;
}