.miniBtn {
  text-decoration: none;
  color: #6b5770;
  background-image: linear-gradient(21deg, #10ff60, #00943b);
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid;
  border-radius: 9999em;
  box-sizing: border-box;
  /* margin: 20px 5px 0px; */
  margin-left: 15px;
  outline: none;
  cursor: pointer;
  touch-action: manipulation;
}
.miniBtn:hover {
  color: #fff;
  transition: 0.3s;
}
.miniBtn:hover:after {
  background: linear-gradient(21deg,  #10ff60, #00943b);
}
.miniBtn:active:after {
  background: linear-gradient(21deg,  #10ff60, #00943b);
}
.miniBtn:focus-visible {
  box-shadow: 0 0 0 3px  #10ff60;
}
.miniBtn:disabled {
  pointer-events: none;
}
.delete {
  background-image: linear-gradient(21deg, #f17b7b, #c31010);
}
.edit {
  background-image: linear-gradient(21deg, #d8d8d8, #888989);
}