* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.hero {
  position: relative;
  /* width: 100%; */
  background-size: cover;
  height: 100vh;
  background-image: url("/images/image-1.jpg");
}
.hero__content {
  position: absolute;
  bottom: 30px;
  left: 30px;  
}
