* {
  margin: 0 auto;
  box-sizing: border-box;
}

.hero {
  position: relative;
  background-size: cover;
  background-color: #F6BED9;
  height: 100vh;
  background-image: url("/images/image-1.jpg");
}
.hero__content {
  position: absolute;
  bottom: 30px;
  left: 30px;  
}
