.menu {
  height: 120px;
  background-color: #2e5d75;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 120px);
  background-image: url("../images/image-main.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
.main h1 {
  font-size: 56px;
  line-height: 73px;
}
.main p {
  width: 867px;
  margin: 24px auto 49px;
  font-size: 16px;
  line-height: 155%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1138px;
  margin: -96px auto 0;
  padding: 56px 88px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 11px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0 11px 35px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.info__item span {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #222222;
}
.info__item p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 155%;
  color: #086CF9;
}

.course {
  margin-top: 128px;
}
.course_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.course_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 520px;
          flex: 0 1 520px;
}
.course_left h2 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #222222;
}
.course_left p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}
.course_left h5 {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 28px;
}
.course_left button {
  display: inline-block;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #086cf9;
  border-radius: 4px;
  border: none;
  text-align: left;
}
.course_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 595px;
          flex: 0 0 595px;
}
.course_right .right_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 433px;
  width: 595px;
  background-image: url("../images/image-monstera.jpg");
}
.course_right .right_image a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white url("../images/image-Vector.svg") no-repeat center;
  background-size: 24px;
}

.work {
  margin: 128px 0px;
}
.work_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work_items_inner {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work_items img {
  padding: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.work_items_inner:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.work_items_inner h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
  padding: 16px;
}
.work_items_inner p {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  color: #555555;
}

/*********************/
.online {
  padding: 60px 0px;
  background-color: #D3E5FE;
}

.online_item {
  width: 360px;
  border-radius: 6px;
  background-color: white;
}

.online_container {
  width: 320px;
  margin: 0 auto;
  padding: 24px 0px 35px;
  background-color: white;
}

.online_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px 0px 45px;
  border-bottom: 1px solid #E9E8E8;
  padding-bottom: 24px;
}

.image_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0.6px solid #C8C8C8;
  padding: 9px 10px;
}

.online_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 18px;
}

.online_profile p {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
}

.online_avatar {
  width: 32px;
  height: 32px;
}

.online_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.online_price h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
}

.online_price span {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #086CF9;
}

.online_text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #555555;
}

.online_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.online_image {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.online_image:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.online_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link a {
  margin: 64px 0px;
  display: block;
}